<!DOCTYPE html>
<html>
   <head>
      <style>
         .center {
         text-align: center;
         justify-content: center;
         align-items: center;
         }
         #map-view {
         width: 100%;
         height: 50vh;
         position: relative;
         }
         #map-edit {
         width: 100%;
         height: 50vh;
         position: relative;
         }
         .controls {
         margin-top: 10px;
         border: 1px solid transparent;
         border-radius: 2px 0 0 2px;
         box-sizing: border-box;
         -moz-box-sizing: border-box;
         height: 32px;
         outline: none;
         box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
         }
         #location {
         background-color: #fff;
         font-family: Roboto;
         font-size: 15px;
         font-weight: 300;
         margin-left: 12px;
         padding: 0 11px 0 13px;
         text-overflow: ellipsis;
         width: 300px;
         }
         #location:focus {
         border-color: #4d90fe;
         }
         }
      </style>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-indigo.min.css" />
      <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
      <script type="text/javascript">var mapEdit = undefined;
var mapView = undefined;
var marker = undefined;

var imgurl = 'https://raw.githubusercontent.com/buskerspace/buskerspace/master/buskerspace/webapp/image/';
var icons = undefined;

/* Initialise both kinds of maps */
function initMap() {

    initMapEdit();
    initMapView();
}

/* Initialise the editable map */
function initMapEdit() {

    var initialCoords = {lat: -37.800089, lng: 144.964451};

    mapEdit = new google.maps.Map(document.getElementById('map-edit'), {
        zoom: 16,
        center: initialCoords,
        clickableIcons: false,
        draggableCursor: 'crosshair'
    });

    var input = document.getElementById('location');
    mapEdit.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', mapEdit)

    marker = new google.maps.Marker({
        map: mapEdit,
        position: mapEdit.getCenter(),
        draggable: true
    });

    autocomplete.addListener('place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry)
            return;
        if (place.geometry.viewport)
            mapEdit.fitBounds(place.geometry.viewport);
        else {
            mapEdit.setCenter(place.geometry.location);
            mapEdit.setZoom(17);
        }
        marker.setPosition(place.geometry.location);
    });

    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function (position) {
            mapEdit.panTo(new google.maps.LatLng(
                position.coords.latitude,
                position.coords.longitude
            ));
            marker.setPosition(mapEdit.getCenter());
        }, function(error) {
            console.log("Error with geolocation (" + error.code + "): " + error.message + ".");
        });
    }

    google.maps.event.addListener(mapEdit, 'click', function(click) {
        document.getElementById("location")
            .value = click.latLng.lat().toPrecision(11) + ", " + click.latLng.lng().toPrecision(11);
        marker.setPosition(click.latLng);
        mapEdit.panTo(click.latLng);
    });
}

/* Initialise the read-only map */
function initMapView() {

    var event = {
        lat: -37.800089,
        lng: 144.964451,
        title: 'UNIHACK2016',
        type: 'musical'
    };

    mapView = new google.maps.Map(document.getElementById('map-view'), {
        zoom: 17,
        center: new google.maps.LatLng(event.lat, event.lng),
        clickableIcons: false,
        draggable: false,
        mapTypeControl: false,
        streetViewControl: false,
        zoomControl: false,
        scrollwheel: false,
        disableDoubleClickZoom: true,
        keyboardShortcuts: false,
        panControl: false,
        rotateControl: false,
        scaleControl: false,
        signInControl: false,
        cursor: 'pointer'
    });

    google.maps.event.addListener(mapView, 'click', function(click) {
        window.location.href = "/?lat=" + event.lat + "&lng=" + event.lng;
    });

    mapView.getDiv().style.cursor = "pointer";

    icons = {
        musical: {
            url: imgurl + 'icon-musical.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        },
        performance: {
            url: imgurl + 'icon-performance.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        },
        other: {
            url: imgurl + 'icon-other.png',
            size: new google.maps.Size(32, 32),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(0, 32)
        },
        undef: ''
    };

    // Parse event

    var icon = '';

    switch (event.type) {
        case 'musical':
            icon = icons.musical;
            break;
        case 'performance':
            icon = icons.performance;
            break;
        case 'other':
            icon = icons.other;
            break;
        default:
            icon = icons.undef;
            break;
    }

    // Add marker

    var marker = new google.maps.Marker({
        map: mapView,
        position: {lat: event.lat, lng: event.lng},
        title: event.title,
        icon: icon,
        clickable: false
    });

}

function getID() {
	str = window.location.href;
	list = str.split('/');
	return list[list.length - 2];
}

function submitEvent() {

    var path = "/view/event/" + getID() + '/';

    var form = document.getElementById("dummy_form");
    form.setAttribute("method", "post");
    form.setAttribute("action", path);

    var fields = [
    {
        name: "title",
        value: document.getElementById("title").value
    },
    {
        name: "desc",
        value: document.getElementById("desc").value
    },
    {
        name: "buskeremail",
        value: document.getElementById("email").value
    },
    {
        name: "lat",
        value: marker.getPosition().lat()
    },
    {
        name: "lng",
        value: marker.getPosition().lng()
    },
    {
        name: "date",
        value: document.getElementById("myDate").value
    },
    {
        name: "time",
        value: document.getElementById("myTime").value
    },
    {
        name: "duration",
        value: document.getElementById("duration").value
    },
	{
		name: "password",
		value: document.getElementById("password").value
	},
	{
		name: "eventid",
		value: getID()
	}
    ];

    for (var i = 0, field; field = fields[i]; i++) {
        var element = document.createElement("input");
        element.setAttribute("type",  "hidden");
        element.setAttribute("name",  field.name);
        element.setAttribute("value", field.value);
        form.appendChild(element);
    }

    document.body.appendChild(form);
    form.submit();
}</script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA43XXDD2XDa9NGxeDZkVLrdz7sA5T4a-k&callback=initMap&libraries=places"></script>
      <script>
         window.fbAsyncInit = function() {
           FB.init({
             appId      : '1348158388546594',
             xfbml      : true,
             version    : 'v2.7'
           });
         };
         (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
      </script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Buskerspace: Event</title>
      <!-- Always shows a header, even in smaller screens. -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
         <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
               <!-- Title -->
               <span class="mdl-layout-title">View Event</span>
               <!-- Add spacer, to align navigation to the right -->
               <div class="mdl-layout-spacer"></div>
               <!-- Navigation. We hide it in small screens. -->
               <nav class="mdl-navigation mdl-layout--large-screen-only">
                  <a class="mdl-navigation__link" href="/search/">Search</a>
                  <a class="mdl-navigation__link" href="/">Map</a>
                  <a class="mdl-navigation__link" href="/new/busker/">Create New Busker</a>
                  <a class="mdl-navigation__link" href="/new/event/">Create Event</a>
               </nav>
            </div>
         </header>
         <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
               <a class="mdl-navigation__link" href="/search/">Search</a>
               <a class="mdl-navigation__link" href="/">Map</a>
               <a class="mdl-navigation__link" href="/new/busker/">Create New Busker</a>
               <a class="mdl-navigation__link" href="/new/event/">Create Event</a>
            </nav>
         </div>
         <main class="mdl-layout__content">
            <div class="page-content">
               <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                  <div class="mdl-tabs__tab-bar">
                     <a href="#view-panel" class="mdl-tabs__tab is-active">View</a>
                     <a href="#edit-panel" class="mdl-tabs__tab">Edit</a>
                  </div>
                  <div class="mdl-tabs__panel is-active center" id="view-panel">
				  {% if error_message %}
					 <h4>{{ error_message }}</h4>
			      {% endif %}
				  {% if event %}
                     <h1>{{ event.event_title }}</h1>
                     <h4>{{ event.busker.busker_name }}</h4>
                     <h5>Genre: {{ event.busker.genre }}</h5>
                     <h6>{{ event.event_datetime }} for {{ event.event_duration }} hours</h6>
                     <div id="map-view"></div>
                     <!--- map -->
                     <div style="margin: 5%">{{ event.event_desc }}</div>
				   {% endif %}
                  </div>
                  <div class="mdl-tabs__panel center" id="edit-panel">
                     <div class="page-content center">
                        <!-- Simple Textfield -->
                        <form action="#">
                           <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" id="email">
                              <label class="mdl-textfield__label" for="sample1">Enter busker email</label>
                           </div>
                        </form>
                        <form action="#">
                           <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="password" id="password">
                              <label class="mdl-textfield__label" for="sample1">Enter your password</label>
                           </div>
                        </form>
                        <!-- Simple Textfield -->
                        <form action="#">
                           <div class="mdl-textfield mdl-js-textfield">
                              <input class="mdl-textfield__input" type="text" id="title">
                              <label class="mdl-textfield__label" for="sample1">Enter a new name...</label>
                           </div>
                        </form>
                        <input id="location" class="controls" type="text" placeholder="Enter a location">
                        <a class="mdl-navigation__link">Adjust the the location of your performance on the map below: </a>    
                        <br>
                        <br>
                        <div id="map-edit"></div>
                        <!--- map -->
                        <br>
                        <a class="mdl-navigation__link">Enter a new date and time...</a>    
                        <br>
                        <br>
                        <input type="date" id="myDate" value="2016-08-01"> <!--W3 Schools for JS help -->
                        <input type="time" id="myTime" value="12:00:00">
                        <!-- Numeric Textfield with Floating Label -->
                        <form action="#">
                           <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                              <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="duration">
                              <label class="mdl-textfield__label" for="sample4">Update the duration of your event...</label>
                              <span class="mdl-textfield__error">Input is not a number!</span>
                           </div>
                        </form>
                        <!-- Floating Multiline Textfield -->
                         <form action="#">
                            <div class="mdl-textfield mdl-js-textfield">
                               <textarea class="mdl-textfield__input" type="text" rows= "3" id="desc" ></textarea>
                               <label class="mdl-textfield__label" for="sample5">Update your description...</label>
                            </div>
                         </form>
                        <div class="center">
                           <a ref="javascript:{}" onclick="submitEvent();">
                           <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                           Update Event
                           <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                           </a>
                        </div>
                        <br>
                     </div>
                  </div>
               </div>
            </div>
      </div>
      </main>
      </div>
	  <form id="dummy_form">
	  {% csrf_token %} 
	  </form>
      </body>
</html>