<!DOCTYPE html>
<html>

<head>

    <style>
       #map {
        width: 100%;
        height: 90vh;
        position: relative;
      }

     .eventtitle {

      font-size: 20px;
      color: red;

     }

     .eventdesc {

      font-size: 10px;

     }

    </style>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-indigo.min.css" />
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script type="text/javascript">
function onSignIn(googleUser) {
	var profile = googleUser.getBasicProfile();
	//window.location.assign("/login?email=" + profile.getEmail());
}
var map = undefined;
var events = undefined;
var filters = undefined;

/* Initialise the map */
function initMap() {

    var initialCoords = {lat: -37.800089, lng: 144.964451};

    map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: initialCoords
    });

    onLoad();
}

/* Initialise JavaScript */
function onLoad() {

    events = {
        musicalEvents: [
            { }
        ],
        performanceEvents: [
            { }
        ],
        otherEvents: [
            { }
        ],
    };

    filters = {
        musicalEvents: true,
        performanceEvents: true,
        otherEvents: true
    };

    var event = {
        lat: -37.800089,
        lng: 144.964451,
        title: 'UNIHACK2016',
        buskerid: 2016,
        buskername: 'Busker Space',
        type: 'musical',
        desc: 'The big event that\'s on today. There are lots of people there.'
    };

    addEvent(event);
	
	{% for e in events %}
	event = {
		lat: {{ e.event_lat }},
		lng: {{ e.event_lng }},
		title: '{{ e.event_title }}',
		buskerid: {{ e.busker.pk }},
		buskername: '{{ e.busker.busker_name }}',
		type: 'musical',
		desc: '{{ e.event_desc }}',
	};
	addEvent(event);
	{% endfor %}
}

/* Add the event event to the map */
function addEvent(event) {

    // Parse event

    var images = {
        undef:       'https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png',
        musical:     'https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png',
        performance: 'https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png',
        other:       'https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png'
    };

    var icon = images.undef;

    switch (event.type) {
        case 'musical':
            icon = images.musical;
            break;
        case 'performance':
            icon = images.performance;
            break;
        case 'other':
            icon = images.other;
            break;
    }

    // Add marker

    var marker = new google.maps.Marker({
        map: map,
        position: {lat: event.lat, lng: event.lng},
        title: event.title,
        icon: icon
    });

    // Create InfoWindow

    var windowDiv   = document.createElement("div");
    var windowTitle = document.createElement("p");
    var windowName  = document.createElement("a");
    var windowDesc  = document.createElement("p");

    windowDiv.appendChild(windowTitle);
    windowDiv.appendChild(windowName);
    windowDiv.appendChild(windowDesc);

    var element = document.createElement("span");
    element.innerHTML = event.title;
    windowTitle.appendChild(element);
    element = document.createElement("span");
    element.innerHTML = event.buskername;
    windowName.appendChild(element);
    element = document.createElement("span");
    element.innerHTML = event.desc;
    windowDesc.appendChild(element);

    windowName.setAttribute("href", "/profile/" + event.buskerid + "/");

    windowTitle.className = "eventtitle";
    windowName.className  = "eventname";
    windowDesc.className  = "eventdesc";

    var infoWindow = new google.maps.InfoWindow({
        content: windowDiv
    });

    // Add callbacks

    marker.addListener('click', function() {
        infoWindow.open(map, marker);
    });

    google.maps.event.addListener(map, "click", function() {
        infoWindow.close();
    });

    // Add event to list

    var eventObj = {
        marker:     marker,
        infoWindow: infoWindow,
        type:       event.type,
        lat:        event.lat,
        lng:        event.lng,
        title:      event.title,
        desc:       event.desc
    }

    switch (event.type) {
        case 'musical':
            events.musicalEvents.push(eventObj);
            break;
        case 'performance':
            events.performanceEvents.push(eventObj);
            break;
        case 'other':
            events.otherEvents.push(eventObj);
            break;
    }

}

/* Filter events */
function filterEvents() {

    var toggle;

    // Musical
    toggle = document.getElementById("checkbox-1").checked;

    if (toggle != filters.musicalEvents) {
        setVisibility(events.musicalEvents, toggle);
        filters.musicalEvents = toggle;
    }

    // Performance
    toggle = document.getElementById("checkbox-2").checked;
    if (toggle != filters.performanceEvents) {
        setVisibility(events.performanceEvents, toggle);
        filters.performanceEvents = toggle;
    }

    // Other
    toggle = document.getElementById("checkbox-3").checked;
    if (toggle != filters.otherEvents) {
        setVisibility(events.otherEvents, toggle);
        filters.otherEvents = toggle;
    }

    function setVisibility(eventList, toggle) {

        for (var i = 1, event; event = eventList[i]; i++) {
            if (toggle)
                event.marker.setMap(map);
            else
                event.marker.setMap(null);
        }
    }
}</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="143584194785-04a6vco4k8jt941j70gq667f899jnin1.apps.googleusercontent.com">

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA43XXDD2XDa9NGxeDZkVLrdz7sA5T4a-k&callback=initMap">
</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1348158388546594',
      xfbml      : true,
      version    : 'v2.7'
    });
  };
 
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buskerspace: Home</title>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Buskerspace</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">

        <a class="mdl-navigation__link" href="search.html">Search</a>
        <a class="mdl-navigation__link" href="map.html">Map</a>
        <a class="mdl-navigation__link" href="myprofile.html">My Profile</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<a href="#" onclick="gapi.auth2.getAuthInstance().signOut()">Sign out</a>
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="search.html">Search</a>
      <a class="mdl-navigation__link" href="map.html">Map</a>
      <a class="mdl-navigation__link" href="myprofile.html">My Profile</a>
      <br>
    </nav>  

    <span class="mdl-layout-title">Map Filters</></span>

    <div class="mdl-navigation">

    <a class="mdl-navigation__link">Genres</a>

<label class="mdl-navigation__link" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
  <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
  <span class="mdl-checkbox__label">Musician</span>
</label>
<label class="mdl-navigation__link" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
  <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" checked>
  <span class="mdl-checkbox__label">Performer</span>
</label>
<label class="mdl-navigation__link" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
  <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" checked>
  <span class="mdl-checkbox__label">Other</span>
</label>
<!-- Raised button with ripple -->
<button onclick="filterEvents()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
  Apply
</button>
    </div>  
    
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      
    <div id="map"></div> <!--- map -->

    </div>

  </main>
</div>

</body>
</html>

